{% extends 'base.html' %} 

{%block title %} Home {% endblock title %}

{% block body %}

<!-- /form-26-section -->
   <section class="form-26-1">
         <div class="form-26-mian">
				<div class="layer">
			<div class="wrapper">
			<div class="form-inner-cont">
					<div class="forms-26-info">
						<h2>Welcome To <span style="color:orange;font-weight:bold">  Classifi </span > </h2>
                        <p>This will help you to get your college detials</div>
					<div class="form-right-inf"> 
							<form action="#" method="post" class="signin-form">	
							 <div class="forms-gds">

               
								<a class="btn btn-success btn-lg mr-5 text-decoration-none" href="/loginsystem" role="button">Teachers LogIn</a>
								<a class="btn btn-danger btn-lg ml-5 text-decoration-none" href="/loginsystem" role="button">Students LogIn</a>
							</div>
							<h6 class="already">Create an account? <a href="/signup"><span>Click Here<span></span></span></a></h6>
						</form>
						
                    </div>
					<div class="copyright text-center">
                    <p>© 2019 Merged Forms. All rights reserved | Design by <a href="http://w3layouts.com/"
                            target="_blank">Satyabrata Panda</a></p>
                </div>
                </div>
			</div>
		</div>
		    </div>
		</section>
      <!-- //form-26-section -->

{% endblock body %}
































